{{ "<!-- About Section -->" | safeHTML }}
<section class="back-panel" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 center">
                <h1 style="color: #4285F4">{{ with .Site.Params.about.title }}{{.}}{{ end }}</h1>
            </div>
        </div>
    <div class="row align-center">
        <div class="col-lg-6 align-center">
            <p>{{ with .Site.Params.about.left }}{{ . | markdownify }}{{ end }}</p>
        </div>
            <div class="col-lg-6 align-center">
                <p>{{ with .Site.Params.about.right }}{{ . | markdownify }}{{ end }}</p>
            </div>
        </div>
    </div>
</section>
