{{ "<!-- jQuery -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/jquery-3.1.1.min.js"></script>
{{ "<!-- Bootstrap Core JavaScript -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/bootstrap-3.js"></script>
{{ "<!-- Materialize Core JavaScript -->" | safeHTML }}
 <script src="{{ .Site.BaseURL }}js/propeller.js"></script>
{{ "<!-- Contact Form JavaScript -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/jqBootstrapValidation.js"></script>
<script src="{{ .Site.BaseURL }}js/contact_me.js"></script>
{{ "<!-- Custom Theme JavaScript -->" | safeHTML }}
<script src="{{ .Site.BaseURL }}js/freelancer.js"></script>
{{ "<!-- GeoLocation Plugin-->" | safeHTML }}
<script language="JavaScript" src="http://www.geoplugin.net/javascript.gp" type="text/javascript"></script>
