{{ "<!-- Navigation -->" | safeHTML }}




<nav class="navbar navbar-inverse navbar-fixed-top pmd-navbar pmd-z-depth-1 blue">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="pull-left center align-center">
			<img class="pmd-ripple-effect pmd-navbar-toggle"  src="/favicon.svg" width="40px" height="40px" alt="avatar">
		</div>
		<div class="navbar-header">
		  <a href="/#page-top" class="navbar-brand navbar-brand-custome"> {{ with .Site.Params.navigation.brand }}{{ . }}{{ end }}</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse pmd-navbar-sidebar">

		  <ul class="nav navbar-nav">
			<li class="dropdown pmd-dropdown">
			  <a data-toggle="dropdown" class="pmd-ripple-effect dropdown-toggle" data-sidebar="true">Blog <span class="caret"></span></a>
			  <ul class="dropdown-menu">
				<li><a class="pmd-ripple-effect" href="categories/technology/">Technology</a></li>
				<li><a class="pmd-ripple-effect" href="categories/art/">Art</a></li>
				<li><a class="pmd-ripple-effect" href="categories/art/cycling">Cycling</a></li>
				<li class="divider"></li>
				<li><a class="pmd-ripple-effect" href="/blog">All</a></li>
			  </ul>
			</li>
		  </ul>

		  <ul class="nav navbar-nav navbar-right">
			<li><a class="pmd-ripple-effect page-scroll" href="#skills">{{ with .Site.Params.skill.title }}{{ . }}{{ end }}</a></li>
			<li><a class="pmd-ripple-effect page-scroll" href="#portfolio">{{ with .Site.Params.portfolio.title }}{{ . }}{{ end }}</a></li>
			<li><a class="pmd-ripple-effect page-scroll" href="#about">{{ with .Site.Params.about.title }}{{ . }}{{ end }}</a></li>
			<li><a class="pmd-ripple-effect page-scroll" href="#contact">{{ with .Site.Params.contact.title }}{{ . }}{{ end }}</a></li>
		  </ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
	<div class="pmd-sidebar-overlay"></div>
</nav>


<div class="">
	<br></br><br>
</div>
