{{ "<!-- Portfolio Grid Section -->" | safeHTML }}
<section class="back-panel" id="skills">
	<div class="container">
        <div class="row">
            <div class="col-lg-12 center align-center">
                <h1 style="color: #4285F4";>{{ with .Site.Params.skill.title }}{{.}}{{ end }}</h1>
            </div>
        </div>
		<div class="row text-center v-align">
			<div class="col-lg-4 center align-center">
				<span class="fa-stack  fa-5x">
					<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
					<i class="fa fa-{{ with .Site.Params.skill.one.icon }}{{.}}{{end}} fa-stack-1x"></i>
				</span>
				<h1>{{ with .Site.Params.skill.one.title }}{{.}}{{end}}</h1>
				<p class="text-left">{{ with .Site.Params.skill.one.description }}{{.}}{{end}}</p>
			</div>
			<div class="col-lg-4 center align-center">
				<span class="fa-stack  fa-5x">
					<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
					<i class="fa fa-{{ with .Site.Params.skill.two.icon }}{{.}}{{end}} fa-stack-1x"></i>
				</span>
				<h1>{{ with .Site.Params.skill.two.title }}{{.}}{{end}}</h1>
				<p class="text-left">{{ with .Site.Params.skill.two.description }}{{.}}{{end}}</p>
			</div>
			<div class="col-lg-4 center align-center">
				<span class="fa-stack  fa-5x">
					<i class="fa fa-circle fa-stack-2x fa-inverse"></i>
					<i class="fa fa-{{ with .Site.Params.skill.three.icon }}{{.}}{{end}} fa-stack-1x"></i>
				</span>
				<h1>{{ with .Site.Params.skill.three.title }}{{.}}{{end}}</h1>
				<p class="text-left">{{ with .Site.Params.skill.three.description }}{{.}}{{end}}</p>
			</div>
		</div>
		<div class="row">
			<div class="col s12 cards-container">
			</div>
		</div>
	</div>
</section>
