<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
	<head>
		{{ partial "head.html" . }}
	</head>
	<body id="page-top" class="scrollspy">

		{{ partial "nav.html" . }}
		{{ partial "header.html" . }}
		{{ partial "skills.html" . }}
		{{ partial "portfolio-grid.html" . }}
		{{ partial "about.html" . }}
		{{ partial "contact.html" . }}
		{{ partial "footer.html" . }}
		{{ partial "js.html" . }}
	</body>
</html>
